.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 455px;
}

.formResult{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  /* background: yellowgreen; */
}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  background-color: #aec5d8;
  padding: 40px;
  color: #0c4876;
  border-radius: 20px;
}

.containerResult{
  width: 50%;
  background-color: #0c4876;
}

.counter{
  margin: 15px 15px;
  display: flex;
  justify-content: end;
}