.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to left,#2e2e2e, #0a0a0a, #535353);
  height: 150px;
  width: 100vw;
  color: #fff;
}

.footerContent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footerContent h3{
  font-weight: 500;
  text-transform: capitalize;
}

.footerContent p{
  max-width: 500px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  padding: 6px;
  border-radius: 50%;
}