.mainChangeColor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerChangeColor{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin-top: 20px;
}

.text{
  font-size: 45px;
  font-weight: 600;
  color: #000;
}